<div class="todolist-container"
     cdkDrag
     [cdkDragData]="this"
     id="todolist-container">
  <list-header class="todolist-header-container"
               [ngClass]="{'dark-mode': isDarkMode}">
    {{ listName }}
  </list-header>
  <task-list class="task-container"
             [ngClass]="{'dark-mode': isDarkMode}"
             [listOfTasks]="toDoList"
             cdkDropList
             (cdkDropListDropped)="drop($event)"
             [cdkDropListConnectedTo]="listIDs"
             [cdkDropListData]="toDoList"
             id="todolist">
  </task-list>
</div>
