<div class="todolist-container">
  <list-header class="todolist-header-container"
  [ngClass]="{'dark-mode': isDarkMode}">
    {{ listName }}
  </list-header>
  <task-list class="task-container"
             [ngClass]="{'dark-mode': isDarkMode}"
             [listOfTasks]="toDoList"
             cdkDropList
             (cdkDropListDropped)="drop($event)"
             [cdkDropListConnectedTo]="['list-a', 'list-b', 'generic-component-1']"
             [cdkDropListData]="toDoList"
             id="list-a">
  </task-list>
</div>
