<div class="main-container"
     [ngClass]="{'dark-mode': isDarkMode}">
  <app-header-component class="app-header"
                        (newListEventEmitter)="createList()">
  </app-header-component>
  <backlog class="backlog"
           id="backlog"
           draggable="true"
           (dragstart)="onDragStart($event)"
           (drop)="onDrop($event)"
           (dragover)="allowDrop($event)">
  </backlog>
  <to-do-list class="todolist"
              id="todolist"
              draggable="true"
              (dragstart)="onDragStart($event)"
              (drop)="onDrop($event)"
              (dragover)="allowDrop($event)">
  </to-do-list>
    <ng-container #container
                  class="dynamic-list">
    </ng-container>
</div>
