<app-header-component class="mk-h-20 mk-block mk-w-fit"
                      (newListEventEmitter)="createGenericList()">
</app-header-component>
<div class="mk-flex mk-justify-between mk-h-fit">
  <backlog class="mk-px-3 mk-pt-2.5 mk-h-fit"
           id="backlog"
           draggable="true"
           (dragstart)="onDragStart($event)"
           (drop)="onDrop($event)"
           (dragover)="allowDrop($event)">
  </backlog>
  <to-do-list class="mk-px-3 mk-h-fit mk-pt-16"
              id="todolist"
              draggable="true"
              (dragstart)="onDragStart($event)"
              (drop)="onDrop($event)"
              (dragover)="allowDrop($event)">
  </to-do-list>
    <ng-container #genericListContainer>
    </ng-container>
</div>
