<div class="task-list-container"
     [ngClass]="{'dark-mode': isDarkMode}">
  <task-card class="task-card-container"
             [ngClass]="{'dark-mode': isDarkMode,
             'todo': task.status === TaskStatus.TODO,
             'inprogress': task.status === TaskStatus.INPROGRESS,
             'done': task.status === TaskStatus.DONE}"
             *ngFor="let task of listOfTasks;"
             cdkDrag
             [cdkDragData]="task"
             [task]="task">
    {{ task.summary }}
  </task-card>
</div>
