.task-list-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 30px;
}

.task-card-container {
  height: 45px;
  width: 480px;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 2px;
}

.selected {
  background-color: rebeccapurple;
  border-radius: 10px;
}

.dragging {
  position: fixed !important;
  pointer-events: none; /* Wyłączenie interakcji na elementach przeciąganych */
  z-index: 1000; /* Ustawienie wysokiej warstwy, aby element był na wierzchu */
}

.dark-mode .task-card-container {
  border-color: whitesmoke;
  color: whitesmoke;
}

.todo {
  background-color: grey;
}

.inprogress {
  background-color: dodgerblue;
}

.done {
  background-color: seagreen;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
