.task-list-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 30px;
}

.task-card-container {
  height: 45px;
  width: 480px;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 2px;
}

.selected {
  background-color: rebeccapurple;
  border-radius: 10px;
}

.dragging {
  position: fixed !important;
  pointer-events: none; /* Wyłączenie interakcji na elementach przeciąganych */
  z-index: 1000; /* Ustawienie wysokiej warstwy, aby element był na wierzchu */
}

.dark-mode .task-card-container {
  border-color: whitesmoke;
  color: whitesmoke;
}


