<div class="todolist-container" cdkDrag>
  <generic-list-header [(title)]="listName"
                       (titleChange)="onListNameChange($event)"
                       class="generic-list-header">
  </generic-list-header>
  <task-list class="task-container"
             [ngClass]="{'dark-mode': isDarkMode}"
             [listOfTasks]="genericList"
             cdkDropList
             (cdkDropListDropped)="drop($event)"
             [cdkDropListConnectedTo]="listIDs"
             [cdkDropListData]="genericList"
             [id]="id">
  </task-list>
</div>
