.add-task-input {
  width: 350px;
  height: 45px;
  background-color: whitesmoke;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;
}

.dark-mode {
  background-color: black;
  color: whitesmoke;
  border-color: whitesmoke;
}

.small-button {
  margin-left: 20px;
  width: 100px;
  height: 51px;
  background-color: midnightblue;
  color: royalblue;
  border: 2px solid royalblue;
  border-radius: 10px;
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;
  padding: 0;
  transition: transform 0.3s ease;
}

.small-button:hover {
  transform: scale(1.2);
}

.small-button:active {
  transform: scale(1.1);
  background-color: royalblue;
  color: cornflowerblue;
}

.dark-mode {
  background-color: black;
}


