.add-task-container {
  position: absolute;
  top: 140px;
  left: 50px;
}


.backlog-header-container {
  position: absolute;
  left: 142px;
  top: 50px;
}

.dark-mode {
  background-color: black;
  color: whitesmoke;
  border-color: whitesmoke;
}
