.backlog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.add-task-container {
  position: absolute;
  top: 140px;
  left: 50px;
}

.backlog-header-container {
  position: absolute;
  left: 142px;
  top: 50px;
}

.task-container {
  position: absolute;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  height: 71%;
  width: 500px;
  border: 2px solid black;
  border-radius: 30px;
  bottom: 100px;
}

.dark-mode {
  background-color: black;
  color: whitesmoke;
  border-color: whitesmoke;
}
