.theme-mode-switcher {
  border-radius: 45%;
  border: solid 1px black;
  transition: transform 0.3s ease;
}

.theme-mode-switcher:hover {
  transform: scale(1.2);
}

.theme-mode-switcher:active {
  background-color: grey;
  transform: scale(1.1);
}
