@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import '@fortawesome/fontawesome-free/css/all.min.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Permanent Marker", system-ui, sans-serif;
    margin: 0;
    padding: 0;
    @apply mk-bg-background;
    @apply mk-text-content;
  }

  .mk-blue-button {
    @apply mk-bg-blue-900 mk-text-blue-600 mk-border-blue-600 active:mk-bg-blue-600
    active:mk-text-blue-400 hover:mk-opacity-85 mk-border-solid mk-border-2 mk-rounded-lg
    mk-w-24 mk-h-12 mk-text-3xl mk-transition-all;
  }

  .mk-gray-button {
    @apply mk-bg-gray-400 mk-text-gray-600 mk-border-gray-600 active:mk-bg-gray-100
    active:mk-text-gray-400 hover:mk-opacity-85 mk-border-solid mk-border-2 mk-rounded-lg
    mk-w-24 mk-h-12 mk-text-3xl mk-transition-all;
  }

  :root {
    --color-background: 245 245 245;
    --color-content: 0 0 0;
    --color-borderColor: 0 0 0;
  }

  :root[theme-mode="dark"] {
    --color-background: 48 48 48;
    --color-content: 245 245 245;
    --color-borderColor: 110 110 110;
  }
}

body, html, app-root, main-component {
  @apply mk-h-full mk-w-fit mk-block mk-min-w-[1399px];
}
