@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

app-root {
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: whitesmoke;
}

.dark-mode {
  background-color: black;
  color: whitesmoke;
  border-color: whitesmoke;
}

.task-container {
  position: absolute;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  height: 70%;
  width: 500px;
  border: 2px solid black;
  border-radius: 30px;
  bottom: 100px;
}

.dynamic-component {
  position: relative;
  top: 30px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  z-index: 1;
  background-color: black;
}

.cdk-drag-dragging {
  cursor: grabbing;
}
