<div class="edit-modal-container">
  <div class="edit-modal-main"
       [ngClass]="{'dark-mode': isDarkMode}">
    <h1 class="header"
        [ngClass]="{'dark-mode': isDarkMode}">
      EDIT TASK
    </h1>
    <form [formGroup]="form">
      <div class="input-wrapper">
        <label for="task-name-input"
               class="task-name-input-label">
          Task Name
        </label>
        <input type="text"
               class="task-name-input"
               [ngClass]="{'dark-mode': isDarkMode}"
               id="task-name-input"
               name="task-name-input"
               [formControlName]="'taskSummary'">
      </div>
      <div class="status-select-wrapper">
        <label for="status-select">
          Select Status
        </label>
        <select [formControlName]="'taskStatus'"
                class="status-select"
                id="status-select"
                [ngClass]="{'dark-mode': isDarkMode}">
          <option *ngFor="let option of taskStatusOptions"
                  [value]="option"
                  [ngClass]="{'dark-mode': isDarkMode}">
            {{ option }}
          </option>
        </select>
      </div>
      <edit-history [editHistory]="task.editHistory">
      </edit-history>
      <button class="save-button"
              (click)="onSaveButton()">
        Save
      </button>
      <button class="close-button"
              (click)="onCloseButton()">
        Close
      </button>
    </form>
  </div>
</div>

