.dark-mode {
  background-color: black;
  color: whitesmoke;
}

.new-list-button {
  margin-left: 20px;
  width: 200px;
  height: 51px;
  background-color: midnightblue;
  color: royalblue;
  border: 2px solid royalblue;
  border-radius: 10px;
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;
  padding: 0;
  transition: transform 0.3s ease;
}

.new-list-button:hover {
  transform: scale(1.2);
}

.new-list-button:active {
  transform: scale(1.1);
  background-color: royalblue;
  color: cornflowerblue;
}
